<div class="faq-detail-text">
    <p>乘客可以在发车前多久购买车票？</p>
    <p>答：乘客可以在微信平台上购买距离发车时间超过半小时的班次车票。距离发车时间半小时以内的班次，微信平台不再开放其售票，
        乘客若有需要，请到车站窗口咨询购买。</p>
    <p>乘客该如何在微信平台购买车票？</p>
    <p>答：在微信平台购买车票的大致流程为：进入微信平台后系统自动导入班次查询页面。乘客可在页面内选择出行日期，点击查询按钮后
        系统会罗列出该日期内所有班次的出发时间和价格。乘客注册登录后即可点击购票按钮进入购票页面，按规定填写乘车人信息后生成
        订单并支付成功即可完成购票。</p>
    <p>单张订单有购票数量限制么？</p>
    <p>答：有。单份订单可以购买一至五张全价车票。超过五张车票请申请多份订单购买。</p>
    <p>乘客需要购买多于五张的车票，第一份订单申请购买五张车票后，为何无法立即申请第二份订单？</p>
    <p>答：申请第一份订单后，在完成支付之前，该订单的状态为“待支付”。当用户存在一份“待支付”订单时，系统不允许该用户申请另一
        份订单。请先完成待支付的订单，然后就可以正常申请第二份订单继续购票了。</p>
    <p>用户填写订单申请时，必须填写的内容有哪些？</p>
    <p>答：根据国家相关规定，长途车系统须实现实名制。所以用户填写订单时必须准确填写乘客的姓名和身份证号码并且在乘车时
        携带本人有效身份证件，否则可能无法通过检票耽误您的行程。同时为了保证车站和司机能及时与乘客取得联系沟通相关信息，用户
        填写订单时需填写乘客的联系方式。若因用户填写信息错误导致耽误乘客行程，微信平台不承担责任。</p>
    <p>如果在购票时乘客信息填写错误，可以修改么？</p>
    <p>答：订单生成后已填写的订单无法再做任何修改。如果仅仅是乘客联系方式填写错误，会导致车站与司机无法及时联系乘客沟通实时
        信息。乘客可根据车票提供的司机信息主动与司机取得联系。这种情况不影响乘客的出行。如果是身份证号码填写错误，需要乘客
        持本人身份证和购票凭证到车站窗口对工作人员说明情况获取车票。如果是订单姓名填写错误，由于公路客运系统要求实现实名制，
        姓名错误无法获取车票和乘车。这种情况需要在微信平台进行退票后重新购票。</p>
    <p>在购买车票提交订单系统提示订单提交失败，是什么原因？</p>
    <p>答：出现这种情况一般是由于该订单的购票数量超出了班次的余票数量，因为余票不足所以系统提示订单提交失败。如果显示车辆余
        票数量大于购票数量但扔出现该问题，请联系客服1234567进行咨询。</p>
</div>