<div class="faq-detail-text">
    <p>乘客可以在微信平台进行退票操作么？</p>
    <p>答：微信平台支持退票功能.购票成功1分钟后和发车之前x小时之内可以在微信平台进行退票操作.</p>
    <p>退票需要收取费用么？收取多少？</p>
    <p>答：需要。购票成功之后到发车前两天的时段退票需收取票面价格的x%做为手续费。发车前两天至发车前半小时时段退票需
        收取票面价格的y%做为手续费。</p>
    <p>退票有次数限制么？</p>
    <p>答：没有。但每次退票都需要收取相应的手续费。</p>
    <p>发车前半小时内可以进行退票操作么？</p>
    <p>答：微信平台不支持开车前半小时内的退票。如果需要退票请去车站窗口进行人工咨询。具体规则和收费标准以车站规定为准。</p>
    <p>如果乘客已经在车站取到纸质车票，可以进行退票么？</p>
    <p>答：乘客在车站取到纸质车票后，系统会将该张车票的状态切换为“已取票”。此时乘客无法在微信平台再进行退票操作。如果需要
        退票，需持车票和车票对应乘客的有效证件到车站窗口进行人工退票。具体规则和收费标准以车站规定为准。</p>
    <p>如果因为恶劣天气等原因导致乘客退票，也一样要收取手续费么？</p>
    <p>答：不收取。这种情况下在微信平台购票的用户可以在平台的退票界面选择“特殊原因退票”，在页面内填写车次、乘客信息、
        退票原因等信息，点击提交即可。系统收到特殊原因退票申请后，客服会与乘客、车站和车主三方联系核实情况，确认情况
        属实后系统会将票款全额退回用户的支付账户。</p>
    <p>退票的票款需要多久能返回用户的支付账户？</p>
    <p>答：用户因个人原因发起的退票，系统会自动处理，扣取费用后将直接进入退款流程，退款速度由支付平台（微信）决定。
        如果是特殊原因的全额退票，用户提交退款申请后，客服会尽快进行相关情况的核实而后进行后续处理。</p>
    <p>微信平台支持改签功能么？</p>
    <p>答：微信平台暂时不支持改签功能。需要改签的乘客需要去车站窗口进行人工改签服务。</p>
</div>