html {
    min-width: 200px;
    overflow-x: scroll;
}

#header {
    display: block;
    width: auto;
    background: #2554c7;
    height: 40px;
    text-align: center;
}

#header h1 {
    font-size: 16px;
    margin-top: 12px;
    color: white;
    display: inline-block;
}

#footer {
    display: block;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.navbar li {
    float: left;
    width: 60px;
    display: inline-block;
}

#footer ul {
    width: 200px;
    margin: 0 auto;
    height: 100%;
}

.footer-navbar {
    margin: 0;
}




