html {
    overflow: scroll;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background: #f1f1f1;
    margin: 0;
}

#header {
    display: block;
    width: 100%;
    background: #2554c7;
    height: 5rem;
    text-align: center;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    line-height: 5rem;
    font-size: 2rem;
    color: white;
}

#footer {
    display: block;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    border-top: solid 1px #d8d2d3;
}

.footer-nav-li {
    width: 33%;
    float: left;
    height: 100%;
    font-size: 1.5rem;
    line-height: 4rem;
}

.footer-nav-li a {
    text-decoration: none;
    color: #000000;
}

.footer-nav-ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 4rem;
}

.footer-nav-active {
    background-color: #b6b6b4;
}

.user-page-top-banner {
    text-align: center;
    height: 3rem;
    background: #2554c7;
    line-height: 3rem;
    color: white;
}

.back-arrow {
    display: inline-block;
    position: fixed;
    left: 1rem;
}

.user-page-top-title {
    display: inline-block;
}

.user-page-top-link {
    display: inline-block;
    position: fixed;
    right: 1rem;
}

.user-page-top-link a {
    text-decoration: none;
    color: white;
}

.user-cellphone-input {
    margin: 1rem 5%;
    width: 90%;
    height: 2rem;
}

.user-pwd-input {
    margin: 1rem 5%;
    width: 90%;
    height: 2rem;
}

.button-container {
    width: 100%;
    text-align: center;
}

.user-page-submit {
    margin: 1rem auto;
    height: 2rem;
    width: 60%;
}

.user-page-bottom-link {
    position: fixed;
    right: 1rem;
    margin-top: 1rem;
    text-decoration: none;
}

.certification-code-container {
    margin: 0.7rem 5%;
    width: 90%;
    position: relative;
    height: 2rem;
}

.certification-code-input {
    width: 50%;
    height: 100%;
    border: none;
    padding-left: 2px;
}

.get-certification-code {
    width: 40%;
    height: 100%;
    position: absolute;
    right: 0;
}

.user-log-in-hint {
    text-align: center;
    margin-top: -0.5rem;
}