html {
    overflow: scroll;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background: #f1f1f1;
    margin: 0;
    height: 100%;
}

#header {
    display: block;
    width: 100%;
    background: #a0cfec;
    height: 5rem;
    text-align: center;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    line-height: 5rem;
    font-size: 2rem;
    color: white;
}

#footer {
    display: block;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    border-top: solid 1px #d8d2d3;
    background: #ffffff;
    z-index: 999;
}

.footer-nav-li {
    width: 33%;
    float: left;
    height: 100%;
    font-size: 1.5rem;
    line-height: 4rem;
}

.footer-nav-li a {
    text-decoration: none;
    color: #000000;
}

.footer-nav-ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 4rem;
}

.custom-nav-active {
    background-color: #b6b6b4;
}

.back-arrow {
    display: inline-block;
    position: fixed;
    left: 1rem;
}

.button-container {
    width: 100%;
    text-align: center;
}

.foot-sit {
    height: 6rem;
    display: block;
    width: 100%;
}

#original-header {
    display: block;
}

#faq-detail-page-header {
    display: none;
}