.faq-page-content {
    text-align: center;
    width: auto;
    display: block;
    overflow-y: scroll;
    height: 100%;
    min-height: 100%;
}

.faq-page-title {
    text-align: left;
    font-size: 3rem;
}

.faq-page-title a {
    text-decoration: none;
}

.faq-page-detail {
    text-align: left;
}