#bottom-banner {
    width: auto;
    height: 200px;
    font-size: 22px;
    color: #ffffff;
    background: #4a3b8f;
}

.top-banner {
    width: auto;
    height: 300px;
    font-size: 32px;
    color: #ffffff;
    background: #000000;
    text-align: center;
}