#main-content {
    text-align: center;
    width: auto;
    margin-top: 5rem;
    padding-top: 1.5rem;
    display: block;
    margin-bottom: 4rem;
}

#main-content h1 {
    font-size: 1.5rem;
}

#main-content h2 {
    font-size: 1.3rem;
}

.main-content-date-section {
    display: block;
    margin-top: 2rem;
    text-align: center;
    width: auto;
}

.date-section-text {
    font-size: 1.5rem;
}

.date-section-selector {
    width: 70% !important;
    margin: auto;
}

.main-content-submit {
    height: 3.5rem;
    width: 40%;
    font-size: 2rem;
    margin-top: 2rem;
}

.bootstrap-datetimepicker-widget {
    width: 100% !important;
    font-size: 1.5rem !important;
}
