#main-content {
    text-align: center;
    height: 300px;
    width: auto;
}

#main-content h1 {
    font-size: 14px;
}

#main-content h2 {
    font-size: 12px;
}

.main-content-date-section {
    display: block;
    margin-top: 40px;
    text-align: center;
    width: auto;
}

.date-section-text {
    font-size: 12px;
    width: 100px;
    display: inline-block;
}

.date-section-selector {
    width: 120px;
    display: inline-block;
}

.main-content-submit {
    height: 30px;
    width: 80px;
    font-size: 16px;
    margin-top: 12px;
    z-index: 10;
}

.bootstrap-datetimepicker-widget {
    width: 140px !important;
    font-size: 10px !important;
}
