<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <title>注册</title>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../js/common.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/user-system.css">
</head>
<body>
<div class="user-page-top-banner">
    <div class="back-arrow" onclick="backToPrevious()">后退</div>
    <div class="user-page-top-title">注册</div>
    <div class="user-page-top-link">
        <a href="log-in.html">登录</a>
    </div>
</div>
<input class="user-cellphone-input" placeholder="注册手机号">
<div class="certification-code-container">
    <input class="certification-code-input" placeholder="输入手机验证码">
    <input class="get-certification-code" type="button" value="获取验证码">
</div>
<input class="user-pwd-input" type="password" placeholder="请输入密码">
<input class="user-pwd-input" type="password" placeholder="请再次输入密码">
<div class="button-container">
    <input class="user-page-submit" type="button" value="注册账号">
</div>
</body>
</html>