<div class="driver-information-title">司机信息</div>
<div class="driver-information-container">
    <div class="driver-information-row">
        <div class="driver-information-detail-container">
            <div class="driver-information-detail-text">姓名:</div>
            <div class="driver-information-detail-data">张司机</div>
        </div>
        <div class="driver-information-detail-container">
            <div class="driver-information-detail-text">性别：</div>
            <div class="driver-information-detail-data">你猜</div>
        </div>
    </div>
    <div class="driver-detail-row">
        <div class="driver-information-detail-container">
            <div class="driver-information-detail-text">联系方式：</div>
            <div class="driver-information-detail-data">12345678901</div>
        </div>
        <div class="driver-information-detail-container">
            <div class="driver-information-detail-text">车牌号：</div>
            <div class="driver-information-detail-data">晋A12345</div>
        </div>
    </div>
</div>