<div class="driver-information-title">司机信息</div>
<div class="driver-information-container">
    <div class="driver-information-row">
        <span class="driver-information-detail-text">姓名:</span>
        <span class="driver-information-detail-data">张司机</span>
    </div>
    <div class="driver-information-row">
        <span class="driver-information-detail-text">性别：</span>
        <span class="driver-information-detail-data">你猜</span>
    </div>
    <div class="driver-information-row">
        <span class="driver-information-detail-text">联系方式：</span>
        <span class="driver-information-detail-data">12345678901</span>
    </div>
    <div class="driver-information-row">
        <span class="driver-information-detail-text">车牌号：</span>
        <span class="driver-information-detail-data">晋A12345</span>
    </div>
</div>