<div class="panel-heading faq-page-title">
    <h1 class="panel-title">
        <a data-toggle="collapse" href="#frequently-asked">常见问题</a>
    </h1>
</div>
<div id="frequently-asked" class="panel-collapse collapse">
    <div class="panel-body faq-page-detail">
        <p>一、乘客可以在定制专线微信平台（以下简称“微信平台”）进行购票、退票和班次查询，请您在注册时务必将信息填写详实
            准确。若因乘客信息填写错误而造成乘客的损失，平台不承担责任。</p>
        <p>二、定制专线服务目前仅开通阳泉至北京专线，其余路线后续将陆续开通，敬请期待。</p>
        <p>三、目前微信平台仅出售全价票，不出售打折票、儿童票、往返票等。特殊票类需要前往车站窗口进行购票，具体政策如下：</p>
        <h2>1、成年人及身高1.4米以上的儿童需购买全价票。</h2>
        <h2>2、儿童票、打折票、往返票请前往车站窗口购票。</h2>
        <h2>3、伤残军人、因公致残人民警察请携带相关凭证至车站窗口购买优待票。</h2>
        <p>四、发车前x小时内可以在微信购票平台进行购票和退票操作。如果超过可售/可退时间，需要在发车前到车站窗口进行
            购票/退票操作。</p>
        <p>五、定制专线提供就近上车服务。每趟班次均有x个上车点可供选择，每个上车点均有不同的停留时间。乘客在购票时
            可依据自身出行安排选择最适合的上车点。需注意的是，票面标注的上车点停留时段均为预计时段，实际时间可能因
            交通状况、天气状况等而有所不同。若乘客在预计时间段内到达上车点却未见到本班次客车，请根据票面提供的司机信息
            及时与司机取得联系核实情况。</p>
        <p>六、乘客填写订单完毕后请仔细核对班次、发车时间、票价、身份信息等是否准确，确认无误后再行提交。订单一旦提交
            就已经生成并进入“待支付”状态。待支付的订单可以取消，由“待支付”状态转为“已取消”状态，但每天（00：00：00～23：59：59）
            只能取消三次。超过此次数限制则今日无法再行购票，只能进行查询、退票等操作。</p>
        <p>七、订单生成之后有30分钟的支付时间。在支付时间之内完成支付，订单会由“待支付”状态转为“已支付”状态。若超过支付时间
            仍未完成支付，系统会自动将订单由“待支付”状态转为“已取消”状态并且记入当天的取消次数。当有一张订单处于“待支付”状态时，
            乘客无法提交新的购票订单，需先将待支付的订单完成支付或者取消。</p>
        <p>八、乘客购买车票成功之后，除非因天气等不可抗因素导致班次取消，否则进行退票操作需支付相应手续费。具体收费标准为：
            发车前2天之前退票收取票面价格的x%，发车前两天内至发车前半小时退票收取票面价格的y%。超过此时间段则无法进行退票。</p>
        <p>九、纸质车票与微信平台页面内的车票信息中均有相应班次司机的联系方式。乘客可随时联系司机核实班次详实信息。</p>
    </div>
</div>
<div class="panel-heading faq-page-title">
    <h1 class="panel-title">
        <a data-toggle="collapse" href="#about-order-applying">购票相关</a>
    </h1>
</div>
<div id="about-order-applying" class="panel-collapse collapse">
    <div class="panel-body faq-page-detail">
        <p>乘客可以在发车前多久购买车票？</p>
        <p>答：乘客可以在微信平台上购买距离发车时间超过半小时的班次车票。距离发车时间半小时以内的班次，微信平台不再开放其售票，
            乘客若有需要，请到车站窗口咨询购买。</p>
        <p>乘客该如何在微信平台购买车票？</p>
        <p>答：在微信平台购买车票的大致流程为：进入微信平台后系统自动导入班次查询页面。乘客可在页面内选择出行日期，点击查询按钮后
            系统会罗列出该日期内所有班次的出发时间和价格。乘客注册登录后即可点击购票按钮进入购票页面，按规定填写乘车人信息后生成
            订单并支付成功即可完成购票。</p>
        <p>单张订单有购票数量限制么？</p>
        <p>答：有。单份订单可以购买一至五张全价车票。超过五张车票请申请多份订单购买。</p>
        <p>乘客需要购买多于五张的车票，第一份订单申请购买五张车票后，为何无法立即申请第二份订单？</p>
        <p>答：申请第一份订单后，在完成支付之前，该订单的状态为“待支付”。当用户存在一份“待支付”订单时，系统不允许该用户申请另一
            份订单。请先完成待支付的订单，然后就可以正常申请第二份订单继续购票了。</p>
        <p>用户填写订单申请时，必须填写的内容有哪些？</p>
        <p>答：根据国家相关规定，长途车系统须实现实名制。所以用户填写订单时必须准确填写乘客的姓名和身份证号码并且在乘车时
            携带本人有效身份证件，否则可能无法通过检票耽误您的行程。同时为了保证车站和司机能及时与乘客取得联系沟通相关信息，用户
            填写订单时需填写乘客的联系方式。若因用户填写信息错误导致耽误乘客行程，微信平台不承担责任。</p>
        <p>如果在购票时乘客信息填写错误，可以修改么？</p>
        <p>答：订单生成后已填写的订单无法再做任何修改。如果仅仅是乘客联系方式填写错误，会导致车站与司机无法及时联系乘客沟通实时
            信息。乘客可根据车票提供的司机信息主动与司机取得联系。这种情况不影响乘客的出行。如果是身份证号码填写错误，需要乘客
            持本人身份证和购票凭证到车站窗口对工作人员说明情况获取车票。如果是订单姓名填写错误，由于公路客运系统要求实现实名制，
            姓名错误无法获取车票和乘车。这种情况需要在微信平台进行退票后重新购票。</p>
        <p>在购买车票提交订单系统提示订单提交失败，是什么原因？</p>
        <p>答：出现这种情况一般是由于该订单的购票数量超出了班次的余票数量，因为余票不足所以系统提示订单提交失败。如果显示车辆余
            票数量大于购票数量但扔出现该问题，请联系客服1234567进行咨询。</p>
    </div>
</div>
<div class="panel-heading faq-page-title">
    <h1 class="panel-title">
        <a data-toggle="collapse" href="#about-payment">支付相关</a>
    </h1>
</div>
<div id="about-payment" class="panel-collapse collapse">
    <div class="panel-body faq-page-detail">
        <p>目前微信平台支持哪些支付方式？</p>
        <p>答：由于平台以微信作为载体，因而微信平台仅支持微信支付。</p>
        <p>支付有时间限制么？</p>
        <p>答：有的。订单提交之后会先生成一张状态为“待支付”的订单。订单提交后三十分钟之内为有效支付时间。超出支付时间后，
            系统会自动将“待支付”的订单变为“已取消”的状态。每天可以三次取消订单，达到三次后今日无法再申请新的订单。</p>
        <p>用户提交订单成功后，在尚未支付的情况下离开了微信平台，会有什么影响？</p>
        <p>答：订单提交后系统会为用户生成一张“待支付”状态的订单，完成了支付的订单会由“待支付”状态切换至“已支付”状态。如果
            用户在支付完成前离开页面，在支付超时之前可以再次登录微信平台，在“个人”页面中的“待支付订单”中看到已提交但未支付
            的订单。点击进入订单详情之后可以完成支付。如果在支付超时之后再行登录，“待支付”状态的订单会被系统自动转变为
            “已取消”状态，可以在“已完成订单”中看到该订单的详情。</p>
        <p>支付时遇到意外（断电断网）导致支付中断怎么办？</p>
        <p>答：如果出现此类意外，请用户在重新登录后查询自己的订单状态。如果显示订单尚未支付但是账户已经被扣取了票款，
            请立刻致电客服1234567进行咨询解决。</p>
    </div>
</div>
<div class="panel-heading faq-page-title">
    <h1 class="panel-title">
        <a data-toggle="collapse" href="#about-order-canceling">退票/改签</a>
    </h1>
</div>
<div id="about-order-canceling" class="panel-collapse collapse">
    <div class="panel-body faq-page-detail">
        <p>乘客可以在微信平台进行退票操作么？</p>
        <p>答：微信平台支持退票功能.购票成功1分钟后和发车之前x小时之内可以在微信平台进行退票操作.</p>
        <p>退票需要收取费用么？收取多少？</p>
        <p>答：需要。购票成功之后到发车前两天的时段退票需收取票面价格的x%做为手续费。发车前两天至发车前半小时时段退票需
            收取票面价格的y%做为手续费。</p>
        <p>退票有次数限制么？</p>
        <p>答：没有。但每次退票都需要收取相应的手续费。</p>
        <p>发车前半小时内可以进行退票操作么？</p>
        <p>答：微信平台不支持开车前半小时内的退票。如果需要退票请去车站窗口进行人工咨询。具体规则和收费标准以车站规定为准。</p>
        <p>如果乘客已经在车站取到纸质车票，可以进行退票么？</p>
        <p>答：乘客在车站取到纸质车票后，系统会将该张车票的状态切换为“已取票”。此时乘客无法在微信平台再进行退票操作。如果需要
            退票，需持车票和车票对应乘客的有效证件到车站窗口进行人工退票。具体规则和收费标准以车站规定为准。</p>
        <p>如果因为恶劣天气等原因导致乘客退票，也一样要收取手续费么？</p>
        <p>答：不收取。这种情况下在微信平台购票的用户可以在平台的退票界面选择“特殊原因退票”，在页面内填写车次、乘客信息、
            退票原因等信息，点击提交即可。系统收到特殊原因退票申请后，客服会与乘客、车站和车主三方联系核实情况，确认情况
            属实后系统会将票款全额退回用户的支付账户。</p>
        <p>退票的票款需要多久能返回用户的支付账户？</p>
        <p>答：用户因个人原因发起的退票，系统会自动处理，扣取费用后将直接进入退款流程，退款速度由支付平台（微信）决定。
            如果是特殊原因的全额退票，用户提交退款申请后，客服会尽快进行相关情况的核实而后进行后续处理。</p>
        <p>微信平台支持改签功能么？</p>
        <p>答：微信平台暂时不支持改签功能。需要改签的乘客需要去车站窗口进行人工改签服务。</p>
    </div>
</div>
<div class="panel-heading faq-page-title">
    <h1 class="panel-title">
        <a data-toggle="collapse" href="#about-getting-ticket">取票相关</a>
    </h1>
</div>
<div id="about-getting-ticket" class="panel-collapse collapse">
    <div class="panel-body faq-page-detail">
        <p>乘客该如何取得纸质车票？</p>
        <p>答：乘客在微信平台填写订单时可以选择是否需要纸质车票。如果选择了需要车票，可在上车时向司机出示乘车凭证
            (微信平台确认上车页面或者乘客本人身份证)索取车票。未选择需要车票的乘客无法从司机处获取车票，只能持本人身
            份证在发车前在车站取得纸质车票或者事后持身份证在车站获取相关报销凭证。</p>
        <p>在微信平台购买车票时选择了需要车票，持身份证却无法在车站获取纸质车票是为什么？</p>
        <p>答：出现这种情况是因为乘客在购票时选择了需要纸质车票。开车前半小时，所有选择需要车票且未自行在车站取票的乘
            客的车票都会交至司机手中。由于选择需要车票的乘客的车票此时已经出票，所以无法在车站自行领取，请在上车后出示
            相关凭证从司机处获取车票。</p>
        <p>在微信平台购买车票时忘记选择需要车票，是否可以获取车票？</p>
        <p>答：可以.发车之前乘客可以凭身份证在车站获取纸质车票。如果已经发车,可在x日内凭身份证在车站获取报销凭证。</p>
    </div>
</div>
<div class="panel-heading faq-page-title">
    <h1 class="panel-title">
        <a data-toggle="collapse" href="#about-checking-in">乘车相关</a>
    </h1>
</div>
<div id="about-checking-in" class="panel-collapse collapse">
    <div class="panel-body faq-page-detail">
        <p>乘客在何处乘车？</p>
        <p>答：每班车都由若干上车点供乘客选择。乘客在购票时可以选择自己最适合的上车点，在票面标注的相应时段内到上车点上车。</p>
        <p>可以在选定上车点之外的上车点乘车么？</p>
        <p>答：可以。无论购票时选择了哪个上车点，都可以在本班次的任意上车点上车。</p>
        <p>乘客按时到达了乘车点，却没有看到车该怎么办？</p>
        <p>答：车票上每个停车点的停留时间都是预估时间。车辆具体到达时间可能因路况或者天气原因有所波动。可以根据订单信息中的
            司机联系方式与司机取得联系核实情况。</p>
        <p>乘客上车后需要出示那些凭证？</p>
        <p>答：乘客打开微信平台内的个人-->确认上车页面，点击确认上车并向司机展示该页面或者出示本人身份证均可。</p>
        <p>乘客的车票由别人代买，无法用购票账户登录微信平台为该车票确认上车，这种情况该怎么办？</p>
        <p>答：直接出示乘客本人身份证即可乘车。</p>
    </div>
</div>