<footer>
    <div class="navbar navbar-default footer-navbar">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active" onclick='openMainPage(event, this);'>
                    <a href="#">首页</a></li>
                <li onclick='openUserPage(event, this);'>
                    <a href="#">个人</a></li>
                <li onclick='openFaqPage(event, this);'>
                    <a href="#">帮助</a></li>
            </ul>
        </div>
    </div>
</footer>