<div class="faq-detailed-page-title">常见问题</div>
<p>一、乘客可以在定制专线微信平台（以下简称“微信平台”）进行购票、退票和班次查询，请您在注册时务必将信息填写详实
    准确。若因乘客信息填写错误而造成乘客的损失，平台不承担责任。</p>
<p>二、定制专线服务目前仅开通阳泉至北京专线，其余路线后续将陆续开通，敬请期待。</p>
<p>三、目前微信平台仅出售全价票，不出售打折票、儿童票、往返票等。特殊票类需要前往车站窗口进行购票，具体政策如下：</p>
<h2>1、成年人及身高1.4米以上的儿童需购买全价票。</h2>
<h2>2、儿童票、打折票、往返票请前往车站窗口购票。</h2>
<h2>3、伤残军人、因公致残人民警察请携带相关凭证至车站窗口购买优待票。</h2>
<p>四、发车前x小时内可以在微信购票平台进行购票和退票操作。如果超过可售/可退时间，需要在发车前到车站窗口进行
    购票/退票操作。</p>
<p>五、定制专线提供就近上车服务。每趟班次均有x个上车点可供选择，每个上车点均有不同的停留时间。乘客在购票时
    可依据自身出行安排选择最适合的上车点。需注意的是，票面标注的上车点停留时段均为预计时段，实际时间可能因
    交通状况、天气状况等而有所不同。若乘客在预计时间段内到达上车点却未见到本班次客车，请根据票面提供的司机信息
    及时与司机取得联系核实情况。</p>
<p>六、乘客填写订单完毕后请仔细核对班次、发车时间、票价、身份信息等是否准确，确认无误后再行提交。订单一旦提交
    就已经生成并进入“待支付”状态。待支付的订单可以取消，由“待支付”状态转为“已取消”状态，但每天（00：00：00～23：59：59）
    只能取消三次。超过此次数限制则今日无法再行购票，只能进行查询、退票等操作。</p>
<p>七、订单生成之后有30分钟的支付时间。在支付时间之内完成支付，订单会由“待支付”状态转为“已支付”状态。若超过支付时间
    仍未完成支付，系统会自动将订单由“待支付”状态转为“已取消”状态并且记入当天的取消次数。当有一张订单处于“待支付”状态时，
    乘客无法提交新的购票订单，需先将待支付的订单完成支付或者取消。</p>
<p>八、乘客购买车票成功之后，除非因天气等不可抗因素导致班次取消，否则进行退票操作需支付相应手续费。具体收费标准为：
    发车前2天之前退票收取票面价格的x%，发车前两天内至发车前半小时退票收取票面价格的y%。超过此时间段则无法进行退票。</p>
<p>九、纸质车票与微信平台页面内的车票信息中均有相应班次司机的联系方式。乘客可随时联系司机核实班次详实信息。</p>