<h1>目前仅开通阳泉-北京定制专线</h1>
<h2>其余路线将陆续开通，敬请期待</h2>
<div class="main-content-date-section">
    <div class="date-section-text">
        <p>出发日期：</p>
    </div>
    <div class='input-group date date-section-selector' id='datetimepicker9'>
        <input type='text' class="form-control"/>
        <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker9').datetimepicker({
                    format: 'L',
                    locale: 'zh-cn'
                });
            });
        </script>
    </div>
</div>
<input type="button" class="main-content-submit" value="查询">